toolkit/cmake/Dependencies.cmake
toolkit/examples/GMLS_Vector.cpp.new
toolkit/examples/CMakeLists.tribits.cmake
toolkit/kokkos/*
toolkit/kokkos-kernels/*
toolkit/scripts/trilinos-configure.sh
toolkit/src/CMakeLists.tribits.cmake
toolkit/.github
toolkit/build
toolkit/pycompadre*
**/.DS_Store
build/*
